@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

@layer components {
  .text-default {
    @apply text-text-base dark:text-text-base-dark;
  }

  .text-body {
    @apply text-text-base;
  }

  .text-muted {
    @apply text-text-muted;
  }

  .text-light {
    @apply text-text-light;
  }

  .text-heading {
    @apply text-primary;
  }

  .text-inverted {
    @apply text-text-base-dark;
  }

  .text-success {
    @apply text-text-success;
  }

  .text-danger {
    @apply text-text-danger;
  }
}

@layer components {
  .heading-xl {
    @apply text-2xl font-bold mb-4 text-text-dark dark:text-text-base-dark;
  }
}

@layer components {
  .form-label {
    @apply block mb-1 text-text-base dark:text-secondary;
  }

  .form-heading {
    @apply text-2xl font-bold mb-4 text-text-dark dark:text-text-base-dark;
  }

}

.heading-md {
  @apply text-lg font-semibold text-text-dark dark:text-text-base-dark;
}

@layer components {
  .form-container {
    @apply bg-form-bg dark:bg-form-bg-dark 
    shadow-lg rounded-lg p-6 text-left 
    text-text-light dark:text-text-light;
  }
}

@layer components {
  .input-field {
    @apply w-full px-4 py-2 rounded-md 
      bg-input-light text-text-dark
      border border-border-light 
      placeholder-text-placeholder
      dark:bg-input-dark dark:text-text-base-dark
      dark:border-border-dark dark:placeholder-text-placeholder
      focus:outline-none focus:ring-2 focus:ring-secondary;
  }

  .input-field::placeholder {
    @apply text-text-placeholder;
  }

  .input-field:-webkit-autofill {
    box-shadow: 0 0 0 1000px #ffffff inset !important; /* input-light */
    -webkit-text-fill-color: #1a1a1a !important;        /* text-dark */
    transition: background-color 9999s ease-in-out 0s;
  }
  
  .dark .input-field:-webkit-autofill {
    box-shadow: 0 0 0 1000px #3b3b3b inset !important;  /* input-dark */
    -webkit-text-fill-color: #f5f5f5 !important;        /* text-base-dark */
  }
  
  
}




